<!-- what is a dynamic datastructure (the structure of the ViewBag) -->

<h1>@ViewBag.greetingMessage</h1>
<h3>Total form submissions across all users [@ViewBag.totalCounter]</h3>
<h3>Total form submissions for this particular user [@ViewBag.localCounter]</h3>
<a href="/hello">Click here. totally not sketchy link</a>

